<div class="main-c">
    <div>
        <h2 style="color:#ad1400; font-weight: bolder; font-size: 3em;">Ticket Cancelled</h2>
    </div>
    <div>
        <img src="../../assets/failure.png">
        <br>
        <br>
    </div>
    <div class="button">
        <a routerLink="" class="btn btn-outline-danger btn-lg" style="margin-right: 5px; font-weight: bold;" (click)="onClickUpdate(user,movie)">Home Page</a>
        <a [routerLink]="['/transactions']" class="btn btn-outline-danger btn-lg" style="margin-left: 5px; font-weight: bold;" (click)="onClickUpdate(user,movie)">Transactions</a>
        <br>
        <br>
    </div>
</div>
