<div class="container">
	<div class="row text-center main-c">
        <div class="col-sm-6 col-sm-offset-3 bg-c">
        <br><br> <h2 style="color:#0fad00; font-weight: bolder; font-size: 4em;">Success</h2>
        <img src="../../assets/success.png">
        <p style="font-size:20px;">
            Thank you for updating/purchasing the tickets.
            Check the details in the table.</p>
        <a [routerLink]="['']" class="btn btn-outline-success btn-lg" style="margin-right: 5px;">
            Home Page
        </a>
        <a [routerLink]="['/transactions']" class="btn btn-outline-success btn-lg" style="margin-left: 5px;">
            Check Details
        </a>
        <br><br>
        </div>
        
	</div>
</div>