@import url(https://fonts.googleapis.com/css?family=Rubik:400,900);
h1{
    font-family: 'Rubik', sans-serif; 
    font-size: 3em;
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 5px 5px black;
    color: rgb(182, 103, 238); 
    /* text-align: center; */
}

label{
    font-family: 'Rubik', sans-serif; 
    font-size:1em;
    text-transform:uppercase;
    font-weight:700;
    color: rgb(209, 149, 252) ;
}
small{
    color: black;
    font-weight: bold;
}